In [34]:
import pandas as pd
import numpy as np

In [35]:
data=pd.read_csv('freelancer_job_postings.csv')

In [36]:
data

,projectId,job_title,job_description,tags,client_state,client_country,client_average_rating,client_review_count,min_price,max_price,avg_price,currency,rate_type
0,37426471,development and implementation of a federated ...,please bid only if you are ready to do the wor...,"['algorithm', 'java', 'python', 'machine learn...",Heilbronn,Germany,5.0,17,8,30,19.0,EUR,fixed
1,37421546,Data Entry -- 2,Project Title: Data Entry - Data Analysis in E...,"['excel', 'statistical analysis', 'statistics'...",Nagpur,India,0.0,0,750,1250,1000.0,INR,hourly
2,37400492,Data Scrap,I am looking for a freelancer who can help me ...,"['web scraping', 'data mining', 'data entry', ...",Eaubonne,France,5.0,1,30,250,140.0,EUR,fixed
3,37404568,Big Data Project,Store Sales Data Analysis: A Data Engineering ...,"['big data sales', 'data science', 'data minin...",Mundra,India,5.0,2,5000,5500,5250.0,INR,fixed
4,37397423,Virtual Assistant / Research Assistant,Job Description: I am seeking a Virtual Assist...,"['data entry', 'virtual assistant', 'web searc...",NaN,United States,0.0,0,5,15,10.0,USD,hourly
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9188,31183091,Computer Vision / Feature Extraction from Aeri...,Looking for an experienced computer vision / f...,"['python', 'deep learning', 'computer vision',...",Buenos Aires,Argentina,5.0,12,30,250,140.0,USD,fixed
9189,31184739,Database and software analysis,I need a freelancer who's proficient in micros...,['data processing'],NaN,United Kingdom,0.0,0,250,750,500.0,USD,fixed
9190,31185401,Business Analyst (Strategic Projects) -- 2,Role Purpose The role’s purpose is to superch...,"['python', 'business analysis', 'financial ana...",Sydney,Australia,5.0,39,15,25,20.0,AUD,hourly
9191,31189015,AI developer needed,We are an italian startup seeking for a machin...,"['data analysis', 'machine learning (ml)', 'py...",Modena,Italy,0.0,0,3000,5000,4000.0,EUR,fixed
9192,31192514,URGENT- GCP-CloudMigration-8-12 years,Cloud Migration Assessment Specialist Experien...,"['google cloud platform', 'data warehousing', ...",Coimbatore,India,0.0,0,400,750,575.0,INR,hourly

In [37]:
data['currency'].unique()

array(['EUR', 'INR', 'USD', 'SGD', 'GBP', 'AUD', 'HKD', 'CAD', 'NZD'],
      dtype=object)

In [38]:
import pandas as pd

# Example fixed exchange rates (as of Aug 2025 approx — update with latest)
exchange_rates = {
    "USD": 1.0,
    "EUR": 1.10,   # 1 EUR = 1.10 USD
    "INR": 0.012,  # 1 INR = 0.012 USD
    "SGD": 0.74,   # 1 SGD = 0.74 USD
    "GBP": 1.27,   # 1 GBP = 1.27 USD
    "AUD": 0.67,   # 1 AUD = 0.67 USD
    "HKD": 0.13,   # 1 HKD = 0.13 USD
    "CAD": 0.73,   # 1 CAD = 0.73 USD
    "NZD": 0.61    # 1 NZD = 0.61 USD
}

# Function to convert given price column to USD
def convert_to_usd(row, column):
    rate = exchange_rates.get(row["currency"], 1.0)
    return row[column] * rate

# Convert min_price, max_price, avg_price to USD
for col in ["min_price", "max_price", "avg_price"]:
    data[f"{col}_usd"] = data.apply(lambda row: convert_to_usd(row, col), axis=1)

# Update currency column to USD
data["currency"] = "USD"

# Preview
print(data[["min_price_usd", "max_price_usd", "avg_price_usd"]].head())

   min_price_usd  max_price_usd  avg_price_usd
0            8.8           33.0           20.9
1            9.0           15.0           12.0
2           33.0          275.0          154.0
3           60.0           66.0           63.0
4            5.0           15.0           10.0

In [39]:
data

,projectId,job_title,job_description,tags,client_state,client_country,client_average_rating,client_review_count,min_price,max_price,avg_price,currency,rate_type,min_price_usd,max_price_usd,avg_price_usd
0,37426471,development and implementation of a federated ...,please bid only if you are ready to do the wor...,"['algorithm', 'java', 'python', 'machine learn...",Heilbronn,Germany,5.0,17,8,30,19.0,USD,fixed,8.80,33.00,20.9
1,37421546,Data Entry -- 2,Project Title: Data Entry - Data Analysis in E...,"['excel', 'statistical analysis', 'statistics'...",Nagpur,India,0.0,0,750,1250,1000.0,USD,hourly,9.00,15.00,12.0
2,37400492,Data Scrap,I am looking for a freelancer who can help me ...,"['web scraping', 'data mining', 'data entry', ...",Eaubonne,France,5.0,1,30,250,140.0,USD,fixed,33.00,275.00,154.0
3,37404568,Big Data Project,Store Sales Data Analysis: A Data Engineering ...,"['big data sales', 'data science', 'data minin...",Mundra,India,5.0,2,5000,5500,5250.0,USD,fixed,60.00,66.00,63.0
4,37397423,Virtual Assistant / Research Assistant,Job Description: I am seeking a Virtual Assist...,"['data entry', 'virtual assistant', 'web searc...",NaN,United States,0.0,0,5,15,10.0,USD,hourly,5.00,15.00,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9188,31183091,Computer Vision / Feature Extraction from Aeri...,Looking for an experienced computer vision / f...,"['python', 'deep learning', 'computer vision',...",Buenos Aires,Argentina,5.0,12,30,250,140.0,USD,fixed,30.00,250.00,140.0
9189,31184739,Database and software analysis,I need a freelancer who's proficient in micros...,['data processing'],NaN,United Kingdom,0.0,0,250,750,500.0,USD,fixed,250.00,750.00,500.0
9190,31185401,Business Analyst (Strategic Projects) -- 2,Role Purpose The role’s purpose is to superch...,"['python', 'business analysis', 'financial ana...",Sydney,Australia,5.0,39,15,25,20.0,USD,hourly,10.05,16.75,13.4
9191,31189015,AI developer needed,We are an italian startup seeking for a machin...,"['data analysis', 'machine learning (ml)', 'py...",Modena,Italy,0.0,0,3000,5000,4000.0,USD,fixed,3300.00,5500.00,4400.0
9192,31192514,URGENT- GCP-CloudMigration-8-12 years,Cloud Migration Assessment Specialist Experien...,"['google cloud platform', 'data warehousing', ...",Coimbatore,India,0.0,0,400,750,575.0,USD,hourly,4.80,9.00,6.9

In [40]:
data.drop(['currency','projectId','client_state'], axis=1, inplace=True)

In [41]:
data

,job_title,job_description,tags,client_country,client_average_rating,client_review_count,min_price,max_price,avg_price,rate_type,min_price_usd,max_price_usd,avg_price_usd
0,development and implementation of a federated ...,please bid only if you are ready to do the wor...,"['algorithm', 'java', 'python', 'machine learn...",Germany,5.0,17,8,30,19.0,fixed,8.80,33.00,20.9
1,Data Entry -- 2,Project Title: Data Entry - Data Analysis in E...,"['excel', 'statistical analysis', 'statistics'...",India,0.0,0,750,1250,1000.0,hourly,9.00,15.00,12.0
2,Data Scrap,I am looking for a freelancer who can help me ...,"['web scraping', 'data mining', 'data entry', ...",France,5.0,1,30,250,140.0,fixed,33.00,275.00,154.0
3,Big Data Project,Store Sales Data Analysis: A Data Engineering ...,"['big data sales', 'data science', 'data minin...",India,5.0,2,5000,5500,5250.0,fixed,60.00,66.00,63.0
4,Virtual Assistant / Research Assistant,Job Description: I am seeking a Virtual Assist...,"['data entry', 'virtual assistant', 'web searc...",United States,0.0,0,5,15,10.0,hourly,5.00,15.00,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9188,Computer Vision / Feature Extraction from Aeri...,Looking for an experienced computer vision / f...,"['python', 'deep learning', 'computer vision',...",Argentina,5.0,12,30,250,140.0,fixed,30.00,250.00,140.0
9189,Database and software analysis,I need a freelancer who's proficient in micros...,['data processing'],United Kingdom,0.0,0,250,750,500.0,fixed,250.00,750.00,500.0
9190,Business Analyst (Strategic Projects) -- 2,Role Purpose The role’s purpose is to superch...,"['python', 'business analysis', 'financial ana...",Australia,5.0,39,15,25,20.0,hourly,10.05,16.75,13.4
9191,AI developer needed,We are an italian startup seeking for a machin...,"['data analysis', 'machine learning (ml)', 'py...",Italy,0.0,0,3000,5000,4000.0,fixed,3300.00,5500.00,4400.0
9192,URGENT- GCP-CloudMigration-8-12 years,Cloud Migration Assessment Specialist Experien...,"['google cloud platform', 'data warehousing', ...",India,0.0,0,400,750,575.0,hourly,4.80,9.00,6.9

In [42]:
data.drop(columns=["min_price", "max_price", "avg_price"], inplace=True)

In [43]:
data

,job_title,job_description,tags,client_country,client_average_rating,client_review_count,rate_type,min_price_usd,max_price_usd,avg_price_usd
0,development and implementation of a federated ...,please bid only if you are ready to do the wor...,"['algorithm', 'java', 'python', 'machine learn...",Germany,5.0,17,fixed,8.80,33.00,20.9
1,Data Entry -- 2,Project Title: Data Entry - Data Analysis in E...,"['excel', 'statistical analysis', 'statistics'...",India,0.0,0,hourly,9.00,15.00,12.0
2,Data Scrap,I am looking for a freelancer who can help me ...,"['web scraping', 'data mining', 'data entry', ...",France,5.0,1,fixed,33.00,275.00,154.0
3,Big Data Project,Store Sales Data Analysis: A Data Engineering ...,"['big data sales', 'data science', 'data minin...",India,5.0,2,fixed,60.00,66.00,63.0
4,Virtual Assistant / Research Assistant,Job Description: I am seeking a Virtual Assist...,"['data entry', 'virtual assistant', 'web searc...",United States,0.0,0,hourly,5.00,15.00,10.0
...,...,...,...,...,...,...,...,...,...,...
9188,Computer Vision / Feature Extraction from Aeri...,Looking for an experienced computer vision / f...,"['python', 'deep learning', 'computer vision',...",Argentina,5.0,12,fixed,30.00,250.00,140.0
9189,Database and software analysis,I need a freelancer who's proficient in micros...,['data processing'],United Kingdom,0.0,0,fixed,250.00,750.00,500.0
9190,Business Analyst (Strategic Projects) -- 2,Role Purpose The role’s purpose is to superch...,"['python', 'business analysis', 'financial ana...",Australia,5.0,39,hourly,10.05,16.75,13.4
9191,AI developer needed,We are an italian startup seeking for a machin...,"['data analysis', 'machine learning (ml)', 'py...",Italy,0.0,0,fixed,3300.00,5500.00,4400.0
9192,URGENT- GCP-CloudMigration-8-12 years,Cloud Migration Assessment Specialist Experien...,"['google cloud platform', 'data warehousing', ...",India,0.0,0,hourly,4.80,9.00,6.9

In [44]:
data['client_average_rating'].unique()

array([5. , 0. , 4.8, 4.6, 4.9, 4.1, 4.7, 4.5, 1.8, 3. , 3.3, 1. , 4.4,
       3.6, 3.9, 4.3, 3.8, 3.5, 4.2, 2.6, 4. , 1.9, 2.2, 2.7, 3.4, 2.8,
       3.1, 3.7, 3.2])

In [45]:
data.drop(['client_average_rating','client_review_count'], axis=1, inplace=True)

In [46]:
data

,job_title,job_description,tags,client_country,rate_type,min_price_usd,max_price_usd,avg_price_usd
0,development and implementation of a federated ...,please bid only if you are ready to do the wor...,"['algorithm', 'java', 'python', 'machine learn...",Germany,fixed,8.80,33.00,20.9
1,Data Entry -- 2,Project Title: Data Entry - Data Analysis in E...,"['excel', 'statistical analysis', 'statistics'...",India,hourly,9.00,15.00,12.0
2,Data Scrap,I am looking for a freelancer who can help me ...,"['web scraping', 'data mining', 'data entry', ...",France,fixed,33.00,275.00,154.0
3,Big Data Project,Store Sales Data Analysis: A Data Engineering ...,"['big data sales', 'data science', 'data minin...",India,fixed,60.00,66.00,63.0
4,Virtual Assistant / Research Assistant,Job Description: I am seeking a Virtual Assist...,"['data entry', 'virtual assistant', 'web searc...",United States,hourly,5.00,15.00,10.0
...,...,...,...,...,...,...,...,...
9188,Computer Vision / Feature Extraction from Aeri...,Looking for an experienced computer vision / f...,"['python', 'deep learning', 'computer vision',...",Argentina,fixed,30.00,250.00,140.0
9189,Database and software analysis,I need a freelancer who's proficient in micros...,['data processing'],United Kingdom,fixed,250.00,750.00,500.0
9190,Business Analyst (Strategic Projects) -- 2,Role Purpose The role’s purpose is to superch...,"['python', 'business analysis', 'financial ana...",Australia,hourly,10.05,16.75,13.4
9191,AI developer needed,We are an italian startup seeking for a machin...,"['data analysis', 'machine learning (ml)', 'py...",Italy,fixed,3300.00,5500.00,4400.0
9192,URGENT- GCP-CloudMigration-8-12 years,Cloud Migration Assessment Specialist Experien...,"['google cloud platform', 'data warehousing', ...",India,hourly,4.80,9.00,6.9

In [47]:
data.isna().sum()

job_title          0
job_description    0
tags               0
client_country     1
rate_type          0
min_price_usd      0
max_price_usd      0
avg_price_usd      0
dtype: int64

In [48]:
# Find rows where client_country is actually NaN
na_rows = data[data['client_country'].isna()]
print(na_rows)

       job_title                                    job_description  \
3901  RFM kmeans  RFM kmeans Analysis to Identify Customer Segme...

                                                   tags client_country  \
3901  ['python', 'big data sales', 'data mining', 'm...            NaN

     rate_type  min_price_usd  max_price_usd  avg_price_usd
3901     fixed          750.0         1500.0         1125.0

In [49]:
import numpy as np

# Replace empty strings, "NA", "nan", whitespace with NaN
data['client_country'] = data['client_country'].replace(
    ["", " ", "NA", "NAN", "nan"], np.nan
)

# Drop rows where client_country is NaN
data = data.dropna(subset=['client_country'])

In [50]:
data

,job_title,job_description,tags,client_country,rate_type,min_price_usd,max_price_usd,avg_price_usd
0,development and implementation of a federated ...,please bid only if you are ready to do the wor...,"['algorithm', 'java', 'python', 'machine learn...",Germany,fixed,8.80,33.00,20.9
1,Data Entry -- 2,Project Title: Data Entry - Data Analysis in E...,"['excel', 'statistical analysis', 'statistics'...",India,hourly,9.00,15.00,12.0
2,Data Scrap,I am looking for a freelancer who can help me ...,"['web scraping', 'data mining', 'data entry', ...",France,fixed,33.00,275.00,154.0
3,Big Data Project,Store Sales Data Analysis: A Data Engineering ...,"['big data sales', 'data science', 'data minin...",India,fixed,60.00,66.00,63.0
4,Virtual Assistant / Research Assistant,Job Description: I am seeking a Virtual Assist...,"['data entry', 'virtual assistant', 'web searc...",United States,hourly,5.00,15.00,10.0
...,...,...,...,...,...,...,...,...
9188,Computer Vision / Feature Extraction from Aeri...,Looking for an experienced computer vision / f...,"['python', 'deep learning', 'computer vision',...",Argentina,fixed,30.00,250.00,140.0
9189,Database and software analysis,I need a freelancer who's proficient in micros...,['data processing'],United Kingdom,fixed,250.00,750.00,500.0
9190,Business Analyst (Strategic Projects) -- 2,Role Purpose The role’s purpose is to superch...,"['python', 'business analysis', 'financial ana...",Australia,hourly,10.05,16.75,13.4
9191,AI developer needed,We are an italian startup seeking for a machin...,"['data analysis', 'machine learning (ml)', 'py...",Italy,fixed,3300.00,5500.00,4400.0
9192,URGENT- GCP-CloudMigration-8-12 years,Cloud Migration Assessment Specialist Experien...,"['google cloud platform', 'data warehousing', ...",India,hourly,4.80,9.00,6.9

In [51]:
data.isna().sum()

job_title          0
job_description    0
tags               0
client_country     0
rate_type          0
min_price_usd      0
max_price_usd      0
avg_price_usd      0
dtype: int64

In [52]:
data['client_country'].nunique()

177

In [53]:
import pandas as pd

# One-hot encode rate_type
data = pd.get_dummies(data, columns=['rate_type'], prefix='rate')

# Check result

In [54]:
data

,job_title,job_description,tags,client_country,min_price_usd,max_price_usd,avg_price_usd,rate_fixed,rate_hourly
0,development and implementation of a federated ...,please bid only if you are ready to do the wor...,"['algorithm', 'java', 'python', 'machine learn...",Germany,8.80,33.00,20.9,True,False
1,Data Entry -- 2,Project Title: Data Entry - Data Analysis in E...,"['excel', 'statistical analysis', 'statistics'...",India,9.00,15.00,12.0,False,True
2,Data Scrap,I am looking for a freelancer who can help me ...,"['web scraping', 'data mining', 'data entry', ...",France,33.00,275.00,154.0,True,False
3,Big Data Project,Store Sales Data Analysis: A Data Engineering ...,"['big data sales', 'data science', 'data minin...",India,60.00,66.00,63.0,True,False
4,Virtual Assistant / Research Assistant,Job Description: I am seeking a Virtual Assist...,"['data entry', 'virtual assistant', 'web searc...",United States,5.00,15.00,10.0,False,True
...,...,...,...,...,...,...,...,...,...
9188,Computer Vision / Feature Extraction from Aeri...,Looking for an experienced computer vision / f...,"['python', 'deep learning', 'computer vision',...",Argentina,30.00,250.00,140.0,True,False
9189,Database and software analysis,I need a freelancer who's proficient in micros...,['data processing'],United Kingdom,250.00,750.00,500.0,True,False
9190,Business Analyst (Strategic Projects) -- 2,Role Purpose The role’s purpose is to superch...,"['python', 'business analysis', 'financial ana...",Australia,10.05,16.75,13.4,False,True
9191,AI developer needed,We are an italian startup seeking for a machin...,"['data analysis', 'machine learning (ml)', 'py...",Italy,3300.00,5500.00,4400.0,True,False
9192,URGENT- GCP-CloudMigration-8-12 years,Cloud Migration Assessment Specialist Experien...,"['google cloud platform', 'data warehousing', ...",India,4.80,9.00,6.9,False,True

In [55]:
# Convert boolean columns to integers
data['rate_fixed'] = data['rate_fixed'].astype(int)
data['rate_hourly'] = data['rate_hourly'].astype(int)

print(data[['rate_fixed','rate_hourly']].head())

   rate_fixed  rate_hourly
0           1            0
1           0            1
2           1            0
3           1            0
4           0            1

In [56]:
data

,job_title,job_description,tags,client_country,min_price_usd,max_price_usd,avg_price_usd,rate_fixed,rate_hourly
0,development and implementation of a federated ...,please bid only if you are ready to do the wor...,"['algorithm', 'java', 'python', 'machine learn...",Germany,8.80,33.00,20.9,1,0
1,Data Entry -- 2,Project Title: Data Entry - Data Analysis in E...,"['excel', 'statistical analysis', 'statistics'...",India,9.00,15.00,12.0,0,1
2,Data Scrap,I am looking for a freelancer who can help me ...,"['web scraping', 'data mining', 'data entry', ...",France,33.00,275.00,154.0,1,0
3,Big Data Project,Store Sales Data Analysis: A Data Engineering ...,"['big data sales', 'data science', 'data minin...",India,60.00,66.00,63.0,1,0
4,Virtual Assistant / Research Assistant,Job Description: I am seeking a Virtual Assist...,"['data entry', 'virtual assistant', 'web searc...",United States,5.00,15.00,10.0,0,1
...,...,...,...,...,...,...,...,...,...
9188,Computer Vision / Feature Extraction from Aeri...,Looking for an experienced computer vision / f...,"['python', 'deep learning', 'computer vision',...",Argentina,30.00,250.00,140.0,1,0
9189,Database and software analysis,I need a freelancer who's proficient in micros...,['data processing'],United Kingdom,250.00,750.00,500.0,1,0
9190,Business Analyst (Strategic Projects) -- 2,Role Purpose The role’s purpose is to superch...,"['python', 'business analysis', 'financial ana...",Australia,10.05,16.75,13.4,0,1
9191,AI developer needed,We are an italian startup seeking for a machin...,"['data analysis', 'machine learning (ml)', 'py...",Italy,3300.00,5500.00,4400.0,1,0
9192,URGENT- GCP-CloudMigration-8-12 years,Cloud Migration Assessment Specialist Experien...,"['google cloud platform', 'data warehousing', ...",India,4.80,9.00,6.9,0,1

In [57]:
import pandas as pd
import ast

# Load your dataset


# Function to clean and convert tags list → string
def process_tags(tag_str):
    try:
        # Convert string representation of list into actual list
        tag_list = ast.literal_eval(tag_str)
        
        # Join list elements into a comma-separated string
        if isinstance(tag_list, list):
            return ", ".join([str(t).strip() for t in tag_list])
        else:
            return str(tag_str)
    except:
        return str(tag_str)  # fallback if not list-like

# Apply function to your tags column
data["tags_clean"] = data["tags"].apply(process_tags)

# Check result
print(data[["tags", "tags_clean"]].head())

                                                tags  \
0  ['algorithm', 'java', 'python', 'machine learn...
1  ['excel', 'statistical analysis', 'statistics'...
2  ['web scraping', 'data mining', 'data entry', ...
3  ['big data sales', 'data science', 'data minin...
4  ['data entry', 'virtual assistant', 'web searc...

                                          tags_clean
0  algorithm, java, python, machine learning (ml)...
1  excel, statistical analysis, statistics, spss ...
2  web scraping, data mining, data entry, excel, ...
3  big data sales, data science, data mining, sta...
4  data entry, virtual assistant, web search, exc...

In [58]:
data

,job_title,job_description,tags,client_country,min_price_usd,max_price_usd,avg_price_usd,rate_fixed,rate_hourly,tags_clean
0,development and implementation of a federated ...,please bid only if you are ready to do the wor...,"['algorithm', 'java', 'python', 'machine learn...",Germany,8.80,33.00,20.9,1,0,"algorithm, java, python, machine learning (ml)..."
1,Data Entry -- 2,Project Title: Data Entry - Data Analysis in E...,"['excel', 'statistical analysis', 'statistics'...",India,9.00,15.00,12.0,0,1,"excel, statistical analysis, statistics, spss ..."
2,Data Scrap,I am looking for a freelancer who can help me ...,"['web scraping', 'data mining', 'data entry', ...",France,33.00,275.00,154.0,1,0,"web scraping, data mining, data entry, excel, ..."
3,Big Data Project,Store Sales Data Analysis: A Data Engineering ...,"['big data sales', 'data science', 'data minin...",India,60.00,66.00,63.0,1,0,"big data sales, data science, data mining, sta..."
4,Virtual Assistant / Research Assistant,Job Description: I am seeking a Virtual Assist...,"['data entry', 'virtual assistant', 'web searc...",United States,5.00,15.00,10.0,0,1,"data entry, virtual assistant, web search, exc..."
...,...,...,...,...,...,...,...,...,...,...
9188,Computer Vision / Feature Extraction from Aeri...,Looking for an experienced computer vision / f...,"['python', 'deep learning', 'computer vision',...",Argentina,30.00,250.00,140.0,1,0,"python, deep learning, computer vision, image ..."
9189,Database and software analysis,I need a freelancer who's proficient in micros...,['data processing'],United Kingdom,250.00,750.00,500.0,1,0,data processing
9190,Business Analyst (Strategic Projects) -- 2,Role Purpose The role’s purpose is to superch...,"['python', 'business analysis', 'financial ana...",Australia,10.05,16.75,13.4,0,1,"python, business analysis, financial analysis,..."
9191,AI developer needed,We are an italian startup seeking for a machin...,"['data analysis', 'machine learning (ml)', 'py...",Italy,3300.00,5500.00,4400.0,1,0,"data analysis, machine learning (ml), python"
9192,URGENT- GCP-CloudMigration-8-12 years,Cloud Migration Assessment Specialist Experien...,"['google cloud platform', 'data warehousing', ...",India,4.80,9.00,6.9,0,1,"google cloud platform, data warehousing, etl, ..."

In [59]:
data.drop(['tags'], axis=1, inplace=True)

In [60]:
data

,job_title,job_description,client_country,min_price_usd,max_price_usd,avg_price_usd,rate_fixed,rate_hourly,tags_clean
0,development and implementation of a federated ...,please bid only if you are ready to do the wor...,Germany,8.80,33.00,20.9,1,0,"algorithm, java, python, machine learning (ml)..."
1,Data Entry -- 2,Project Title: Data Entry - Data Analysis in E...,India,9.00,15.00,12.0,0,1,"excel, statistical analysis, statistics, spss ..."
2,Data Scrap,I am looking for a freelancer who can help me ...,France,33.00,275.00,154.0,1,0,"web scraping, data mining, data entry, excel, ..."
3,Big Data Project,Store Sales Data Analysis: A Data Engineering ...,India,60.00,66.00,63.0,1,0,"big data sales, data science, data mining, sta..."
4,Virtual Assistant / Research Assistant,Job Description: I am seeking a Virtual Assist...,United States,5.00,15.00,10.0,0,1,"data entry, virtual assistant, web search, exc..."
...,...,...,...,...,...,...,...,...,...
9188,Computer Vision / Feature Extraction from Aeri...,Looking for an experienced computer vision / f...,Argentina,30.00,250.00,140.0,1,0,"python, deep learning, computer vision, image ..."
9189,Database and software analysis,I need a freelancer who's proficient in micros...,United Kingdom,250.00,750.00,500.0,1,0,data processing
9190,Business Analyst (Strategic Projects) -- 2,Role Purpose The role’s purpose is to superch...,Australia,10.05,16.75,13.4,0,1,"python, business analysis, financial analysis,..."
9191,AI developer needed,We are an italian startup seeking for a machin...,Italy,3300.00,5500.00,4400.0,1,0,"data analysis, machine learning (ml), python"
9192,URGENT- GCP-CloudMigration-8-12 years,Cloud Migration Assessment Specialist Experien...,India,4.80,9.00,6.9,0,1,"google cloud platform, data warehousing, etl, ..."

In [61]:
df=data

In [62]:
df

,job_title,job_description,client_country,min_price_usd,max_price_usd,avg_price_usd,rate_fixed,rate_hourly,tags_clean
0,development and implementation of a federated ...,please bid only if you are ready to do the wor...,Germany,8.80,33.00,20.9,1,0,"algorithm, java, python, machine learning (ml)..."
1,Data Entry -- 2,Project Title: Data Entry - Data Analysis in E...,India,9.00,15.00,12.0,0,1,"excel, statistical analysis, statistics, spss ..."
2,Data Scrap,I am looking for a freelancer who can help me ...,France,33.00,275.00,154.0,1,0,"web scraping, data mining, data entry, excel, ..."
3,Big Data Project,Store Sales Data Analysis: A Data Engineering ...,India,60.00,66.00,63.0,1,0,"big data sales, data science, data mining, sta..."
4,Virtual Assistant / Research Assistant,Job Description: I am seeking a Virtual Assist...,United States,5.00,15.00,10.0,0,1,"data entry, virtual assistant, web search, exc..."
...,...,...,...,...,...,...,...,...,...
9188,Computer Vision / Feature Extraction from Aeri...,Looking for an experienced computer vision / f...,Argentina,30.00,250.00,140.0,1,0,"python, deep learning, computer vision, image ..."
9189,Database and software analysis,I need a freelancer who's proficient in micros...,United Kingdom,250.00,750.00,500.0,1,0,data processing
9190,Business Analyst (Strategic Projects) -- 2,Role Purpose The role’s purpose is to superch...,Australia,10.05,16.75,13.4,0,1,"python, business analysis, financial analysis,..."
9191,AI developer needed,We are an italian startup seeking for a machin...,Italy,3300.00,5500.00,4400.0,1,0,"data analysis, machine learning (ml), python"
9192,URGENT- GCP-CloudMigration-8-12 years,Cloud Migration Assessment Specialist Experien...,India,4.80,9.00,6.9,0,1,"google cloud platform, data warehousing, etl, ..."

In [67]:
import pandas as pd
from sentence_transformers import SentenceTransformer

# Load your dataset


# Concatenate fields into one text string
df["text_for_embedding"] = (
    df["job_title"].astype(str) + " | " +
    df["job_description"].astype(str) + " | " +
    df["tags_clean"].astype(str)
)

# Load embedding model (you can also try 'all-MiniLM-L6-v2' for speed)
model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

# Generate embeddings
embeddings = model.encode(df["text_for_embedding"].tolist(), show_progress_bar=True)

# Save embeddings into dataframe
df["embeddings"] = embeddings.tolist()

# Save processed file
df.to_pickle("dataset_with_embeddings.pkl")  # preserves numpy arrays

ImportError: cannot import name 'Trainer' from 'transformers' (C:\Users\User\AppData\Roaming\Python\Python310\site-packages\transformers\__init__.py)

In [ ]:
import tensorflow as tf
print(tf.config.list_physical_devices('GPU'))

[]

In [ ]:
import torch
print("Torch version:", torch.__version__)
print("CUDA version:", torch.version.cuda)
print("GPU Available:", torch.cuda.is_available())
if torch.cuda.is_available():
    print("GPU Name:", torch.cuda.get_device_name(0))

Torch version: 2.7.1+cu118
CUDA version: 11.8
GPU Available: True
GPU Name: NVIDIA GeForce RTX 4060 Laptop GPU

In [ ]:
df.drop(['tags_clean'],axis=1, inplace=True)

In [ ]:
# Select only input + output columns
train_df = df[['embeddings', 'client_country', 
               'rate_fixed', 'rate_hourly', 
               'min_price_usd', 'max_price_usd']].copy()

print(train_df.head())

NameError: name 'df' is not defined

In [ ]:
train_df

,embeddings,client_country,rate_fixed,rate_hourly,min_price_usd,max_price_usd
0,"[-0.0010373728582635522, 0.025920316576957703,...",Germany,1,0,8.80,33.00
1,"[0.013640349730849266, 0.07931947708129883, -0...",India,0,1,9.00,15.00
2,"[0.05617595463991165, 0.07921620458364487, -0....",France,1,0,33.00,275.00
3,"[-0.010524350218474865, 0.04207716882228851, -...",India,1,0,60.00,66.00
4,"[0.05351155251264572, 0.013150554150342941, -0...",United States,0,1,5.00,15.00
...,...,...,...,...,...,...
9188,"[0.02490329183638096, 0.08249479532241821, -0....",Argentina,1,0,30.00,250.00
9189,"[0.026110468432307243, 0.08255632221698761, -0...",United Kingdom,1,0,250.00,750.00
9190,"[0.037851691246032715, 0.04596945643424988, -0...",Australia,0,1,10.05,16.75
9191,"[-0.018802395090460777, 0.06984634697437286, -...",Italy,1,0,3300.00,5500.00
9192,"[0.038400180637836456, 0.046241916716098785, -...",India,0,1,4.80,9.00

In [ ]:
train_df

,embeddings,client_country,rate_fixed,rate_hourly,min_price_usd,max_price_usd
0,"[-0.0010373728582635522, 0.025920316576957703,...",Germany,1,0,8.80,33.00
1,"[0.013640349730849266, 0.07931947708129883, -0...",India,0,1,9.00,15.00
2,"[0.05617595463991165, 0.07921620458364487, -0....",France,1,0,33.00,275.00
3,"[-0.010524350218474865, 0.04207716882228851, -...",India,1,0,60.00,66.00
4,"[0.05351155251264572, 0.013150554150342941, -0...",United States,0,1,5.00,15.00
...,...,...,...,...,...,...
9188,"[0.02490329183638096, 0.08249479532241821, -0....",Argentina,1,0,30.00,250.00
9189,"[0.026110468432307243, 0.08255632221698761, -0...",United Kingdom,1,0,250.00,750.00
9190,"[0.037851691246032715, 0.04596945643424988, -0...",Australia,0,1,10.05,16.75
9191,"[-0.018802395090460777, 0.06984634697437286, -...",Italy,1,0,3300.00,5500.00
9192,"[0.038400180637836456, 0.046241916716098785, -...",India,0,1,4.80,9.00

In [ ]:
# Create a boolean mask for fixed-price projects
is_fixed_mask = train_df['rate_fixed'] == 1

# Split into two dataframes
fixed_df = train_df[is_fixed_mask]
hourly_df = train_df[~is_fixed_mask]

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [ ]:
import numpy as np

def find_and_print_outliers(df, column_name, df_name):
    """Calculates and prints outlier information for a given dataframe and column."""
    print(f"--- Analyzing Outliers for: {df_name} ---")
    
    # Calculate Q1, Q3, and IQR
    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)
    IQR = Q3 - Q1
    
    # Define outlier boundaries
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # Identify outliers
    outliers = df[(df[column_name] < lower_bound) | (df[column_name] > upper_bound)]
    
    num_outliers = len(outliers)
    total_rows = len(df)
    percentage = (num_outliers / total_rows) * 100
    
    print(f"Identified {num_outliers} outliers out of {total_rows} projects ({percentage:.2f}%).")
    print(f"Outlier boundary: Anything below ${lower_bound:,.2f} or above ${upper_bound:,.2f}")
    
    if not outliers.empty:
        print("Example outliers (showing highest prices):")
        # Display the top 5 most expensive outlier projects
        print(outliers.nlargest(5, column_name)[['client_country', 'min_price_usd', 'max_price_usd']])
    print("\n")

# Run the analysis on both dataframes
# We check based on 'max_price_usd' as it's the primary indicator of high-value outliers
find_and_print_outliers(fixed_df, 'max_price_usd', 'Fixed-Price Projects')
find_and_print_outliers(hourly_df, 'max_price_usd', 'Hourly-Rate Projects')

--- Analyzing Outliers for: Fixed-Price Projects ---
Identified 1322 outliers out of 7321 projects (18.06%).
Outlier boundary: Anything below $-401.25 or above $748.75
Example outliers (showing highest prices):
     client_country  min_price_usd  max_price_usd
6585  United States       145000.0       170000.0
2283         Turkey        22000.0        55000.0
5251        Germany        22000.0        55000.0
3616   South Africa        20000.0        50000.0
4580         Turkey        20000.0        50000.0


--- Analyzing Outliers for: Hourly-Rate Projects ---
Identified 149 outliers out of 1871 projects (7.96%).
Outlier boundary: Anything below $-15.00 or above $49.00
Example outliers (showing highest prices):
     client_country  min_price_usd  max_price_usd
3737        Highway          200.0         1500.0
2341          India          132.0          890.0
5499         Canada          250.0          750.0
7679  United States          500.0          600.0
7735       Botswana          400.0          500.0

In [ ]:
fixed_df

,embeddings,client_country,rate_fixed,rate_hourly,min_price_usd,max_price_usd,country_encoded
0,"[-0.0010373728582635522, 0.025920316576957703,...",Germany,1,0,8.8,33.0,59
2,"[0.05617595463991165, 0.07921620458364487, -0....",France,1,0,33.0,275.0,57
3,"[-0.010524350218474865, 0.04207716882228851, -...",India,1,0,60.0,66.0,69
5,"[0.02721451409161091, 0.10257390886545181, -0....",United Kingdom,1,0,250.0,750.0,160
6,"[0.07321489602327347, 0.048724789172410965, -0...",Israel,1,0,5000.0,10000.0,73
...,...,...,...,...,...,...,...
9185,"[-0.04256857931613922, -0.08757899701595306, -...",Germany,1,0,8.8,33.0,59
9187,"[-0.008582592941820621, -0.013725497759878635,...",Kuwait,1,0,30.0,250.0,84
9188,"[0.02490329183638096, 0.08249479532241821, -0....",Argentina,1,0,30.0,250.0,7
9189,"[0.026110468432307243, 0.08255632221698761, -0...",United Kingdom,1,0,250.0,750.0,160
9191,"[-0.018802395090460777, 0.06984634697437286, -...",Italy,1,0,3300.0,5500.0,74

In [ ]:
hourly_df

,embeddings,client_country,rate_fixed,rate_hourly,min_price_usd,max_price_usd,country_encoded
1,"[0.013640349730849266, 0.07931947708129883, -0...",India,0,1,9.00,15.00,69
4,"[0.05351155251264572, 0.013150554150342941, -0...",United States,0,1,5.00,15.00,162
17,"[0.06256135553121567, 0.07487110793590546, -0....",Yemen,0,1,8.00,15.00,170
18,"[0.06768244504928589, 0.07284023612737656, -0....",Switzerland,0,1,15.00,25.00,151
19,"[-0.054767414927482605, -0.01982477493584156, ...",Malta,0,1,55.00,66.00,103
...,...,...,...,...,...,...,...
9170,"[-0.048448290675878525, 0.05360637977719307, -...",United States,0,1,25.00,50.00,162
9177,"[0.04626709222793579, 0.0917992815375328, -0.0...",Israel,0,1,2.00,8.00,73
9186,"[0.019515663385391235, 0.003583617741242051, -...",Vietnam,0,1,8.00,15.00,167
9190,"[0.037851691246032715, 0.04596945643424988, -0...",Australia,0,1,10.05,16.75,8
9192,"[0.038400180637836456, 0.046241916716098785, -...",India,0,1,4.80,9.00,69

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf
import keras_tuner as kt
from tensorflow.keras import layers, Model
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_absolute_error, mean_squared_error

# Assume 'train_df' is your initial DataFrame

# --- 1. Initial Preprocessing ---
print("--- 1. Preprocessing Data ---")
# Encode country names into integer IDs
country_encoder = LabelEncoder()
train_df['country_encoded'] = country_encoder.fit_transform(train_df['client_country'])
num_countries = len(country_encoder.classes_)

# Split into two separate dataframes
is_fixed_mask = train_df['rate_fixed'] == 1
fixed_df = train_df[is_fixed_mask].copy()
hourly_df = train_df[~is_fixed_mask].copy()
print(f"Split data into {len(fixed_df)} fixed-price and {len(hourly_df)} hourly-rate projects.\n")


# --- 2. Identify and Remove Outliers from Each Dataset ---
def remove_outliers(df, column_name, df_name):
    """Identifies and removes outliers based on the IQR method."""
    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)
    IQR = Q3 - Q1
    upper_bound = Q3 + 1.5 * IQR
    
    num_outliers = df[df[column_name] > upper_bound].shape[0]
    
    # Filter the dataframe to keep only non-outliers
    df_cleaned = df[df[column_name] <= upper_bound].copy()
    
    print(f"For {df_name}:")
    print(f"  Removed {num_outliers} high-budget outliers (prices > ${upper_bound:,.2f}).")
    print(f"  Remaining projects for training/testing: {len(df_cleaned)}\n")
    return df_cleaned

fixed_df_cleaned = remove_outliers(fixed_df, 'max_price_usd', 'Fixed-Price Projects')
hourly_df_cleaned = remove_outliers(hourly_df, 'max_price_usd', 'Hourly-Rate Projects')


# --- 3. Define Model Architecture for Tuning ---
embedding_dim = np.array(train_df['embeddings'].iloc[0]).shape[0]

def build_model_for_tuning(hp):
    """Builds a model with tunable hyperparameters."""
    text_in = layers.Input(shape=(embedding_dim,), name="text_embeddings")
    country_in = layers.Input(shape=(1,), name="country")
    
    country_emb = layers.Embedding(input_dim=num_countries + 1, output_dim=16)(country_in)
    country_emb = layers.Flatten()(country_emb)
    
    concatenated = layers.Concatenate()([text_in, country_emb])
    
    # Tune the number of units in the first dense layer
    hp_units_1 = hp.Int('units_1', min_value=64, max_value=256, step=32)
    x = layers.Dense(units=hp_units_1, activation='relu')(concatenated)
    
    # Tune the dropout rate
    hp_dropout = hp.Float('dropout', min_value=0.1, max_value=0.5, step=0.1)
    x = layers.Dropout(hp_dropout)(x)
    
    # Tune the number of units in the second dense layer
    hp_units_2 = hp.Int('units_2', min_value=32, max_value=128, step=32)
    x = layers.Dense(units=hp_units_2, activation='relu')(x)
    
    output = layers.Dense(2, activation='linear', name='price_range')(x)
    
    model = Model(inputs=[text_in, country_in], outputs=output)
    
    # Tune the learning rate
    hp_learning_rate = hp.Choice('learning_rate', values=[1e-2, 1e-3, 1e-4])
    
    model.compile(optimizer=Adam(learning_rate=hp_learning_rate), loss='huber')
    
    return model

# --- 4. Train and Evaluate a Model for Each Dataset ---
def train_and_evaluate_model(df, df_name, project_name):
    """Splits data, tunes a model, and evaluates the best version."""
    print(f"--- Processing Model for {df_name} ---")
    
    # Split Data
    train_data, test_data = train_test_split(df, test_size=0.2, random_state=42)
    print(f"Split cleaned data into {len(train_data)} for training and {len(test_data)} for testing.")
    
    # Prepare Training Data
    y_log_train = np.log1p(train_data[['min_price_usd', 'max_price_usd']].values)
    X_train = {
        "text_embeddings": np.array(train_data['embeddings'].tolist()),
        "country": train_data['country_encoded'].values
    }
    
    # Prepare Test/Validation Data
    y_log_test = np.log1p(test_data[['min_price_usd', 'max_price_usd']].values)
    X_test = {
        "text_embeddings": np.array(test_data['embeddings'].tolist()),
        "country": test_data['country_encoded'].values
    }
    
    # Set up the tuner
    tuner = kt.Hyperband(
        build_model_for_tuning,
        objective='val_loss',
        max_epochs=20,
        factor=3,
        directory='tuning_dir',
        project_name=project_name
    )
    
    # Run the hyperparameter search
    print(f"\nStarting hyperparameter search for {df_name}...")
    stop_early = EarlyStopping(monitor='val_loss', patience=5)
    tuner.search(X_train, y_log_train, epochs=50, validation_data=(X_test, y_log_test), callbacks=[stop_early], verbose=0)
    
    # Get the optimal hyperparameters
    best_hps = tuner.get_best_hyperparameters(num_trials=1)[0]
    print(f"Best hyperparameters found for {df_name}:")
    print(f"  - Units 1: {best_hps.get('units_1')}")
    print(f"  - Dropout: {best_hps.get('dropout'):.2f}")
    print(f"  - Units 2: {best_hps.get('units_2')}")
    print(f"  - Learning Rate: {best_hps.get('learning_rate')}")

    # Get the best model
    best_model = tuner.get_best_models(num_models=1)[0]
    
    # Evaluate the best model
    y_test_actual = test_data[['min_price_usd', 'max_price_usd']].values
    log_preds = best_model.predict(X_test)
    final_dollar_preds = np.expm1(log_preds)
    
    mae = mean_absolute_error(y_test_actual, final_dollar_preds)
    rmse = np.sqrt(mean_squared_error(y_test_actual, final_dollar_preds))
    
    print(f"\n--- Final Metrics for {df_name} ---")
    print(f"Test MAE: ${mae:,.2f}")
    print(f"Test RMSE: ${rmse:,.2f}\n")

# Run the process for both fixed-price and hourly-rate projects
train_and_evaluate_model(fixed_df_cleaned, "Fixed-Price Projects", project_name="fixed_price_tuning")
train_and_evaluate_model(hourly_df_cleaned, "Hourly-Rate Projects", project_name="hourly_rate_tuning")

--- 1. Preprocessing Data ---
Split data into 7321 fixed-price and 1871 hourly-rate projects.

For Fixed-Price Projects:
  Removed 1322 high-budget outliers (prices > $748.75).
  Remaining projects for training/testing: 5999

For Hourly-Rate Projects:
  Removed 149 high-budget outliers (prices > $49.00).
  Remaining projects for training/testing: 1722

--- Processing Model for Fixed-Price Projects ---
Split cleaned data into 4799 for training and 1200 for testing.

Starting hyperparameter search for Fixed-Price Projects...

C:\Users\User\AppData\Roaming\Python\Python310\site-packages\keras\src\saving\saving_lib.py:802: UserWarning: Skipping variable loading for optimizer 'adam', because it has 2 variables whereas the saved optimizer has 16 variables.
  saveable.load_own_variables(weights_store.get(inner_path))

Best hyperparameters found for Fixed-Price Projects:
  - Units 1: 96
  - Dropout: 0.20
  - Units 2: 128
  - Learning Rate: 0.001
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

--- Final Metrics for Fixed-Price Projects ---
Test MAE: $63.94
Test RMSE: $106.87

--- Processing Model for Hourly-Rate Projects ---
Split cleaned data into 1377 for training and 345 for testing.

Starting hyperparameter search for Hourly-Rate Projects...

C:\Users\User\AppData\Roaming\Python\Python310\site-packages\keras\src\saving\saving_lib.py:802: UserWarning: Skipping variable loading for optimizer 'adam', because it has 2 variables whereas the saved optimizer has 16 variables.
  saveable.load_own_variables(weights_store.get(inner_path))

Best hyperparameters found for Hourly-Rate Projects:
  - Units 1: 128
  - Dropout: 0.50
  - Units 2: 128
  - Learning Rate: 0.01
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step

--- Final Metrics for Hourly-Rate Projects ---
Test MAE: $5.56
Test RMSE: $7.23

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf
import keras_tuner as kt
from tensorflow.keras import layers, Model
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_absolute_error, mean_squared_error

# Assume 'train_df' is your initial DataFrame

# --- 1. Initial Preprocessing ---
print("--- 1. Preprocessing Data ---")
# Encode country names into integer IDs
country_encoder = LabelEncoder()
train_df['country_encoded'] = country_encoder.fit_transform(train_df['client_country'])
num_countries = len(country_encoder.classes_)

# Split into two separate dataframes
is_fixed_mask = train_df['rate_fixed'] == 1
fixed_df = train_df[is_fixed_mask].copy()
hourly_df = train_df[~is_fixed_mask].copy()
print(f"Split data into {len(fixed_df)} fixed-price and {len(hourly_df)} hourly-rate projects.\n")


# --- 2. Identify and Remove Outliers from Each Dataset ---
def remove_outliers(df, column_name, df_name):
    """Identifies and removes outliers based on the IQR method."""
    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)
    IQR = Q3 - Q1
    upper_bound = Q3 + 1.5 * IQR
    
    num_outliers = df[df[column_name] > upper_bound].shape[0]
    
    # Filter the dataframe to keep only non-outliers
    df_cleaned = df[df[column_name] <= upper_bound].copy()
    
    print(f"For {df_name}:")
    print(f"  Removed {num_outliers} high-budget outliers (prices > ${upper_bound:,.2f}).")
    print(f"  Remaining projects for training/testing: {len(df_cleaned)}\n")
    return df_cleaned

fixed_df_cleaned = remove_outliers(fixed_df, 'max_price_usd', 'Fixed-Price Projects')
hourly_df_cleaned = remove_outliers(hourly_df, 'max_price_usd', 'Hourly-Rate Projects')


# --- 3. Define Model Architecture for Tuning ---
embedding_dim = np.array(train_df['embeddings'].iloc[0]).shape[0]

def build_model_for_tuning(hp):
    """Builds a model with tunable hyperparameters."""
    text_in = layers.Input(shape=(embedding_dim,), name="text_embeddings")
    country_in = layers.Input(shape=(1,), name="country")
    
    country_emb = layers.Embedding(input_dim=num_countries + 1, output_dim=16)(country_in)
    country_emb = layers.Flatten()(country_emb)
    
    concatenated = layers.Concatenate()([text_in, country_emb])
    
    # Tune the number of units in the first dense layer
    hp_units_1 = hp.Int('units_1', min_value=64, max_value=256, step=32)
    x = layers.Dense(units=hp_units_1, activation='relu')(concatenated)
    
    # Tune the dropout rate
    hp_dropout = hp.Float('dropout', min_value=0.1, max_value=0.5, step=0.1)
    x = layers.Dropout(hp_dropout)(x)
    
    # Tune the number of units in the second dense layer
    hp_units_2 = hp.Int('units_2', min_value=32, max_value=128, step=32)
    x = layers.Dense(units=hp_units_2, activation='relu')(x)
    
    output = layers.Dense(2, activation='linear', name='price_range')(x)
    
    model = Model(inputs=[text_in, country_in], outputs=output)
    
    # Tune the learning rate
    hp_learning_rate = hp.Choice('learning_rate', values=[1e-2, 1e-3, 1e-4])
    
    model.compile(optimizer=Adam(learning_rate=hp_learning_rate), loss='huber')
    
    return model

# --- 4. Train and Evaluate a Model for Each Dataset ---
def train_and_evaluate_model(df, df_name, project_name, save_filename):
    """Splits data, tunes a model, evaluates, and saves the best version."""
    print(f"--- Processing Model for {df_name} ---")
    
    # Split Data
    train_data, test_data = train_test_split(df, test_size=0.2, random_state=42)
    print(f"Split cleaned data into {len(train_data)} for training and {len(test_data)} for testing.")
    
    # Prepare Training Data
    y_log_train = np.log1p(train_data[['min_price_usd', 'max_price_usd']].values)
    X_train = {
        "text_embeddings": np.array(train_data['embeddings'].tolist()),
        "country": train_data['country_encoded'].values
    }
    
    # Prepare Test/Validation Data
    y_log_test = np.log1p(test_data[['min_price_usd', 'max_price_usd']].values)
    X_test = {
        "text_embeddings": np.array(test_data['embeddings'].tolist()),
        "country": test_data['country_encoded'].values
    }
    
    # Set up the tuner
    tuner = kt.Hyperband(
        build_model_for_tuning,
        objective='val_loss',
        max_epochs=20,
        factor=3,
        directory='tuning_dir',
        project_name=project_name
    )
    
    # Run the hyperparameter search
    print(f"\nStarting hyperparameter search for {df_name}...")
    stop_early = EarlyStopping(monitor='val_loss', patience=5)
    tuner.search(X_train, y_log_train, epochs=50, validation_data=(X_test, y_log_test), callbacks=[stop_early], verbose=0)
    
    # Get the optimal hyperparameters
    best_hps = tuner.get_best_hyperparameters(num_trials=1)[0]
    print(f"Best hyperparameters found for {df_name}:")
    print(f"  - Units 1: {best_hps.get('units_1')}")
    print(f"  - Dropout: {best_hps.get('dropout'):.2f}")
    print(f"  - Units 2: {best_hps.get('units_2')}")
    print(f"  - Learning Rate: {best_hps.get('learning_rate')}")

    # Get the best model
    best_model = tuner.get_best_models(num_models=1)[0]
    
    # Evaluate the best model
    y_test_actual = test_data[['min_price_usd', 'max_price_usd']].values
    log_preds = best_model.predict(X_test)
    final_dollar_preds = np.expm1(log_preds)
    
    mae = mean_absolute_error(y_test_actual, final_dollar_preds)
    rmse = np.sqrt(mean_squared_error(y_test_actual, final_dollar_preds))
    
    print(f"\n--- Final Metrics for {df_name} ---")
    print(f"Test MAE: ${mae:,.2f}")
    print(f"Test RMSE: ${rmse:,.2f}\n")
    
    # Save the final model
    best_model.save(save_filename)
    print(f"--- Best model for {df_name} saved to {save_filename} ---\n")


# Run the process for both fixed-price and hourly-rate projects
train_and_evaluate_model(fixed_df_cleaned, "Fixed-Price Projects", 
                         project_name="fixed_price_tuning", save_filename="fixed_price_model.keras")
train_and_evaluate_model(hourly_df_cleaned, "Hourly-Rate Projects", 
                         project_name="hourly_rate_tuning", save_filename="hourly_rate_model.keras")

--- 1. Preprocessing Data ---
Split data into 7321 fixed-price and 1871 hourly-rate projects.

For Fixed-Price Projects:
  Removed 1322 high-budget outliers (prices > $748.75).
  Remaining projects for training/testing: 5999

For Hourly-Rate Projects:
  Removed 149 high-budget outliers (prices > $49.00).
  Remaining projects for training/testing: 1722

--- Processing Model for Fixed-Price Projects ---
Split cleaned data into 4799 for training and 1200 for testing.
Reloading Tuner from tuning_dir\fixed_price_tuning\tuner0.json

Starting hyperparameter search for Fixed-Price Projects...
Best hyperparameters found for Fixed-Price Projects:
  - Units 1: 96
  - Dropout: 0.20
  - Units 2: 128
  - Learning Rate: 0.001
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

C:\Users\User\AppData\Roaming\Python\Python310\site-packages\keras\src\saving\saving_lib.py:802: UserWarning: Skipping variable loading for optimizer 'adam', because it has 2 variables whereas the saved optimizer has 16 variables.
  saveable.load_own_variables(weights_store.get(inner_path))

38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

--- Final Metrics for Fixed-Price Projects ---
Test MAE: $63.94
Test RMSE: $106.87

--- Best model for Fixed-Price Projects saved to fixed_price_model.keras ---

--- Processing Model for Hourly-Rate Projects ---
Split cleaned data into 1377 for training and 345 for testing.
Reloading Tuner from tuning_dir\hourly_rate_tuning\tuner0.json

Starting hyperparameter search for Hourly-Rate Projects...
Best hyperparameters found for Hourly-Rate Projects:
  - Units 1: 128
  - Dropout: 0.50
  - Units 2: 128
  - Learning Rate: 0.01
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step

--- Final Metrics for Hourly-Rate Projects ---
Test MAE: $5.56
Test RMSE: $7.23

--- Best model for Hourly-Rate Projects saved to hourly_rate_model.keras ---

C:\Users\User\AppData\Roaming\Python\Python310\site-packages\keras\src\saving\saving_lib.py:802: UserWarning: Skipping variable loading for optimizer 'adam', because it has 2 variables whereas the saved optimizer has 16 variables.
  saveable.load_own_variables(weights_store.get(inner_path))

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf
import keras_tuner as kt
import joblib
from tensorflow.keras import layers, Model
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_absolute_error, mean_squared_error

# Assume 'train_df' is your initial DataFrame

# --- 1. Initial Preprocessing ---
print("--- 1. Preprocessing Data ---")
# Encode country names into integer IDs
country_encoder = LabelEncoder()
train_df['country_encoded'] = country_encoder.fit_transform(train_df['client_country'])
num_countries = len(country_encoder.classes_)

# --- NEW: Save the fitted LabelEncoder ---
joblib.dump(country_encoder, 'country_encoder.joblib')
print("Country encoder saved to country_encoder.joblib\n")


# Split into two separate dataframes
is_fixed_mask = train_df['rate_fixed'] == 1
fixed_df = train_df[is_fixed_mask].copy()
hourly_df = train_df[~is_fixed_mask].copy()
print(f"Split data into {len(fixed_df)} fixed-price and {len(hourly_df)} hourly-rate projects.\n")


# --- 2. Identify and Remove Outliers from Each Dataset ---
def remove_outliers(df, column_name, df_name):
    """Identifies and removes outliers based on the IQR method."""
    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)
    IQR = Q3 - Q1
    upper_bound = Q3 + 1.5 * IQR
    
    num_outliers = df[df[column_name] > upper_bound].shape[0]
    
    # Filter the dataframe to keep only non-outliers
    df_cleaned = df[df[column_name] <= upper_bound].copy()
    
    print(f"For {df_name}:")
    print(f"  Removed {num_outliers} high-budget outliers (prices > ${upper_bound:,.2f}).")
    print(f"  Remaining projects for training/testing: {len(df_cleaned)}\n")
    return df_cleaned

fixed_df_cleaned = remove_outliers(fixed_df, 'max_price_usd', 'Fixed-Price Projects')
hourly_df_cleaned = remove_outliers(hourly_df, 'max_price_usd', 'Hourly-Rate Projects')


# --- 3. Define Model Architecture for Tuning ---
embedding_dim = np.array(train_df['embeddings'].iloc[0]).shape[0]

def build_model_for_tuning(hp):
    """Builds a model with tunable hyperparameters."""
    text_in = layers.Input(shape=(embedding_dim,), name="text_embeddings")
    country_in = layers.Input(shape=(1,), name="country")
    
    country_emb = layers.Embedding(input_dim=num_countries + 1, output_dim=16)(country_in)
    country_emb = layers.Flatten()(country_emb)
    
    concatenated = layers.Concatenate()([text_in, country_emb])
    
    # Tune the number of units in the first dense layer
    hp_units_1 = hp.Int('units_1', min_value=64, max_value=256, step=32)
    x = layers.Dense(units=hp_units_1, activation='relu')(concatenated)
    
    # Tune the dropout rate
    hp_dropout = hp.Float('dropout', min_value=0.1, max_value=0.5, step=0.1)
    x = layers.Dropout(hp_dropout)(x)
    
    # Tune the number of units in the second dense layer
    hp_units_2 = hp.Int('units_2', min_value=32, max_value=128, step=32)
    x = layers.Dense(units=hp_units_2, activation='relu')(x)
    
    output = layers.Dense(2, activation='linear', name='price_range')(x)
    
    model = Model(inputs=[text_in, country_in], outputs=output)
    
    # Tune the learning rate
    hp_learning_rate = hp.Choice('learning_rate', values=[1e-2, 1e-3, 1e-4])
    
    model.compile(optimizer=Adam(learning_rate=hp_learning_rate), loss='huber')
    
    return model

# --- 4. Train and Evaluate a Model for Each Dataset ---
def train_and_evaluate_model(df, df_name, project_name, save_filename):
    """Splits data, tunes a model, evaluates, and saves the best version."""
    print(f"--- Processing Model for {df_name} ---")
    
    # Split Data
    train_data, test_data = train_test_split(df, test_size=0.2, random_state=42)
    print(f"Split cleaned data into {len(train_data)} for training and {len(test_data)} for testing.")
    
    # Prepare Training Data
    y_log_train = np.log1p(train_data[['min_price_usd', 'max_price_usd']].values)
    X_train = {
        "text_embeddings": np.array(train_data['embeddings'].tolist()),
        "country": train_data['country_encoded'].values
    }
    
    # Prepare Test/Validation Data
    y_log_test = np.log1p(test_data[['min_price_usd', 'max_price_usd']].values)
    X_test = {
        "text_embeddings": np.array(test_data['embeddings'].tolist()),
        "country": test_data['country_encoded'].values
    }
    
    # Set up the tuner
    tuner = kt.Hyperband(
        build_model_for_tuning,
        objective='val_loss',
        max_epochs=20,
        factor=3,
        directory='tuning_dir',
        project_name=project_name
    )
    
    # Run the hyperparameter search
    print(f"\nStarting hyperparameter search for {df_name}...")
    stop_early = EarlyStopping(monitor='val_loss', patience=5)
    tuner.search(X_train, y_log_train, epochs=50, validation_data=(X_test, y_log_test), callbacks=[stop_early], verbose=0)
    
    # Get the optimal hyperparameters
    best_hps = tuner.get_best_hyperparameters(num_trials=1)[0]
    print(f"Best hyperparameters found for {df_name}:")
    print(f"  - Units 1: {best_hps.get('units_1')}")
    print(f"  - Dropout: {best_hps.get('dropout'):.2f}")
    print(f"  - Units 2: {best_hps.get('units_2')}")
    print(f"  - Learning Rate: {best_hps.get('learning_rate')}")

    # Get the best model
    best_model = tuner.get_best_models(num_models=1)[0]
    
    # Evaluate the best model
    y_test_actual = test_data[['min_price_usd', 'max_price_usd']].values
    log_preds = best_model.predict(X_test)
    final_dollar_preds = np.expm1(log_preds)
    
    mae = mean_absolute_error(y_test_actual, final_dollar_preds)
    rmse = np.sqrt(mean_squared_error(y_test_actual, final_dollar_preds))
    
    print(f"\n--- Final Metrics for {df_name} ---")
    print(f"Test MAE: ${mae:,.2f}")
    print(f"Test RMSE: ${rmse:,.2f}\n")
    
    # Save the final model
    best_model.save(save_filename)
    print(f"--- Best model for {df_name} saved to {save_filename} ---\n")


# Run the process for both fixed-price and hourly-rate projects
train_and_evaluate_model(fixed_df_cleaned, "Fixed-Price Projects", 
                         project_name="fixed_price_tuning", save_filename="fixed_price_model.keras")
train_and_evaluate_model(hourly_df_cleaned, "Hourly-Rate Projects", 
                         project_name="hourly_rate_tuning", save_filename="hourly_rate_model.keras")

--- 1. Preprocessing Data ---
Country encoder saved to country_encoder.joblib

Split data into 7321 fixed-price and 1871 hourly-rate projects.

For Fixed-Price Projects:
  Removed 1322 high-budget outliers (prices > $748.75).
  Remaining projects for training/testing: 5999

For Hourly-Rate Projects:
  Removed 149 high-budget outliers (prices > $49.00).
  Remaining projects for training/testing: 1722

--- Processing Model for Fixed-Price Projects ---
Split cleaned data into 4799 for training and 1200 for testing.
Reloading Tuner from tuning_dir\fixed_price_tuning\tuner0.json

Starting hyperparameter search for Fixed-Price Projects...
Best hyperparameters found for Fixed-Price Projects:
  - Units 1: 96
  - Dropout: 0.20
  - Units 2: 128
  - Learning Rate: 0.001
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

C:\Users\User\AppData\Roaming\Python\Python310\site-packages\keras\src\saving\saving_lib.py:802: UserWarning: Skipping variable loading for optimizer 'adam', because it has 2 variables whereas the saved optimizer has 16 variables.
  saveable.load_own_variables(weights_store.get(inner_path))

--- Final Metrics for Fixed-Price Projects ---
Test MAE: $63.94
Test RMSE: $106.87

--- Best model for Fixed-Price Projects saved to fixed_price_model.keras ---

--- Processing Model for Hourly-Rate Projects ---
Split cleaned data into 1377 for training and 345 for testing.
Reloading Tuner from tuning_dir\hourly_rate_tuning\tuner0.json

Starting hyperparameter search for Hourly-Rate Projects...
Best hyperparameters found for Hourly-Rate Projects:
  - Units 1: 128
  - Dropout: 0.50
  - Units 2: 128
  - Learning Rate: 0.01
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step

--- Final Metrics for Hourly-Rate Projects ---
Test MAE: $5.56
Test RMSE: $7.23

--- Best model for Hourly-Rate Projects saved to hourly_rate_model.keras ---

C:\Users\User\AppData\Roaming\Python\Python310\site-packages\keras\src\saving\saving_lib.py:802: UserWarning: Skipping variable loading for optimizer 'adam', because it has 2 variables whereas the saved optimizer has 16 variables.
  saveable.load_own_variables(weights_store.get(inner_path))

In [ ]:
original= pd.read_csv('freelancer_job_postings.csv')

In [ ]:
original['tags'].unique()

array(["['algorithm', 'java', 'python', 'machine learning (ml)', 'flutter']",
       "['excel', 'statistical analysis', 'statistics', 'spss statistics', 'data processing']",
       "['web scraping', 'data mining', 'data entry', 'excel', 'web search']",
       ...,
       "['python', 'business analysis', 'financial analysis', 'financial modeling', 'business analytics', 'business intelligence']",
       "['data analysis', 'machine learning (ml)', 'python']",
       "['google cloud platform', 'data warehousing', 'etl', 'python', 'pyspark']"],
      shape=(7258,), dtype=object)

:

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf
import keras_tuner as kt
import joblib
from tensorflow.keras import layers, Model
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_absolute_error, mean_squared_error

# Assume 'train_df' is your initial DataFrame

# --- 1. Initial Preprocessing ---
print("--- 1. Preprocessing Data ---")
# Encode country names into integer IDs
country_encoder = LabelEncoder()
train_df['country_encoded'] = country_encoder.fit_transform(train_df['client_country'])
num_countries = len(country_encoder.classes_)

# Save the fitted LabelEncoder
joblib.dump(country_encoder, 'country_encoder.joblib')
print("Country encoder saved to country_encoder.joblib\n")


# Split into two separate dataframes
is_fixed_mask = train_df['rate_fixed'] == 1
fixed_df = train_df[is_fixed_mask].copy()
hourly_df = train_df[~is_fixed_mask].copy()
print(f"Split data into {len(fixed_df)} fixed-price and {len(hourly_df)} hourly-rate projects.\n")


# --- 2. Identify and Remove Outliers from Each Dataset ---
def remove_outliers(df, column_name, df_name):
    """Identifies and removes outliers based on the IQR method."""
    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)
    IQR = Q3 - Q1
    upper_bound = Q3 + 1.5 * IQR
    
    num_outliers = df[df[column_name] > upper_bound].shape[0]
    
    # Filter the dataframe to keep only non-outliers
    df_cleaned = df[df[column_name] <= upper_bound].copy()
    
    print(f"For {df_name}:")
    print(f"  Removed {num_outliers} high-budget outliers (prices > ${upper_bound:,.2f}).")
    print(f"  Remaining projects for training/testing: {len(df_cleaned)}\n")
    return df_cleaned

fixed_df_cleaned = remove_outliers(fixed_df, 'max_price_usd', 'Fixed-Price Projects')
hourly_df_cleaned = remove_outliers(hourly_df, 'max_price_usd', 'Hourly-Rate Projects')


# --- 3. Define Model Architecture for Tuning ---
embedding_dim = np.array(train_df['embeddings'].iloc[0]).shape[0]

def build_model_for_tuning(hp):
    """Builds a model with tunable hyperparameters."""
    text_in = layers.Input(shape=(embedding_dim,), name="text_embeddings")
    country_in = layers.Input(shape=(1,), name="country")
    
    country_emb = layers.Embedding(input_dim=num_countries + 1, output_dim=16)(country_in)
    country_emb = layers.Flatten()(country_emb)
    
    concatenated = layers.Concatenate()([text_in, country_emb])
    
    hp_units_1 = hp.Int('units_1', min_value=64, max_value=256, step=32)
    x = layers.Dense(units=hp_units_1, activation='relu')(concatenated)
    
    hp_dropout = hp.Float('dropout', min_value=0.1, max_value=0.5, step=0.1)
    x = layers.Dropout(hp_dropout)(x)
    
    hp_units_2 = hp.Int('units_2', min_value=32, max_value=128, step=32)
    x = layers.Dense(units=hp_units_2, activation='relu')(x)
    
    output = layers.Dense(2, activation='linear', name='price_range')(x)
    
    model = Model(inputs=[text_in, country_in], outputs=output)
    
    hp_learning_rate = hp.Choice('learning_rate', values=[1e-2, 1e-3, 1e-4])
    
    model.compile(optimizer=Adam(learning_rate=hp_learning_rate), loss='huber')
    
    return model

# --- 4. Train and Evaluate a Model for Each Dataset ---
def train_and_evaluate_model(df, df_name, project_name, save_filename):
    """Splits data, tunes a model, evaluates, and saves the best version."""
    print(f"--- Processing Model for {df_name} ---")
    
    train_data, test_data = train_test_split(df, test_size=0.2, random_state=42)
    
    y_log_train = np.log1p(train_data[['min_price_usd', 'max_price_usd']].values)
    X_train = {"text_embeddings": np.array(train_data['embeddings'].tolist()), "country": train_data['country_encoded'].values}
    
    y_log_test = np.log1p(test_data[['min_price_usd', 'max_price_usd']].values)
    X_test = {"text_embeddings": np.array(test_data['embeddings'].tolist()), "country": test_data['country_encoded'].values}
    
    tuner = kt.Hyperband(build_model_for_tuning, objective='val_loss', max_epochs=20, factor=3, directory='tuning_dir', project_name=project_name)
    
    print(f"\nStarting hyperparameter search for {df_name}...")
    stop_early = EarlyStopping(monitor='val_loss', patience=5)
    tuner.search(X_train, y_log_train, epochs=50, validation_data=(X_test, y_log_test), callbacks=[stop_early], verbose=0)
    
    best_hps = tuner.get_best_hyperparameters(num_trials=1)[0]
    print(f"Best hyperparameters found for {df_name}: ...") # Abridged for brevity

    best_model = tuner.get_best_models(num_models=1)[0]
    
    y_test_actual = test_data[['min_price_usd', 'max_price_usd']].values
    log_preds = best_model.predict(X_test)
    final_dollar_preds = np.expm1(log_preds)
    
    mae = mean_absolute_error(y_test_actual, final_dollar_preds)
    rmse = np.sqrt(mean_squared_error(y_test_actual, final_dollar_preds))
    
    print(f"\n--- Final Metrics for {df_name} ---")
    print(f"Test MAE: ${mae:,.2f}")
    print(f"Test RMSE: ${rmse:,.2f}\n")
    
    # Save the final model in the .h5 format
    best_model.save(save_filename)
    print(f"--- Best model for {df_name} saved to {save_filename} ---\n")


# Run the process for both models, saving in the .h5 format
train_and_evaluate_model(fixed_df_cleaned, "Fixed-Price Projects", 
                         project_name="fixed_price_tuning_h5", save_filename="fixed_price_model.h5")
train_and_evaluate_model(hourly_df_cleaned, "Hourly-Rate Projects", 
                         project_name="hourly_rate_tuning_h5", save_filename="hourly_rate_model.h5")

--- 1. Preprocessing Data ---

NameError: name 'train_df' is not defined

In [ ]:
train_df

NameError: name 'train_df' is not defined